# Created by .ignore support plugin (hsz.mobi)
.idea/

# dependencies
/node_modules

# testing
/coverage

# production
/build
node_modules/

npm-debug.log
.DS_Store
HTML5/.DS_Store
异步/.DS_Store
demo.html
